<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>ENTERCLIENTID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579589166759-mfuqkh4j9sqrkhj2b730in3oig3au96o</string>
	<key>API_KEY</key>
	<string>ENTERAPIKEY</string>
	<key>GCM_SENDER_ID</key>
	<string>579589166759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hakanbaran.MessengerSwift</string>
	<key>PROJECT_ID</key>
	<string>messengerswift-de1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerswift-de1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579589166759:ios:5604e179fa52ce6d40ed82</string>
</dict>
</plist>
